.containerImg {
    height: 350px;
    width: 500px;
    background-color: #ddd;
    background-position: center;
    background-size: cover;
}

.containerSmall {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: auto;
    padding: 1rem;
    margin-top: 3rem;
}

.containerSmall h1{
    background-color: #000;
    padding: 20px;
    margin-top: 7px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.alert-error {
    background-color: #da2c2c;
    padding: 30px;
    border-radius: 5px;
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.h2Question {
    background-color: #000;
  
    padding: 20px;
    margin-top: 7px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

h2 img {margin-right:10px}